h1,
h2,
h3,
h4 {
  font-family: "Fraunces", serif;
}

p {
  font-family: "Barlow", sans-serif;
  font-weight: 400;
}

body {
  perspective: 1000px;
  font-family: "Fraunces", serif;
  background-color: #fff;
  overflow-x: hidden;
}

/*! Header */
#header ul {
  display: flex;
}
#header ul li a {
  margin-left: 25px;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.923077px;
  text-transform: uppercase;
  color: #83888f;
}

#header {
  padding: 20px 10px;
}
#header ul li a.active {
  color: tomato;
  border-bottom: 1.5px solid tomato;
}

/*! SITE-HERO ABOUT */
#site-about__hero {
  margin-bottom: 170px;
}
#site-about__hero .site-about__content {
  width: 100%;
  height: 450px;
  background-image: url("../imgs/about-img/aboutimg.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center center;
  padding: 130px 40px;
}
#site-about__hero .site-about__content h1 {
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  color: #fefcf7;
  margin-bottom: 24px;
}
#site-about__hero .site-about__content p {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #fefcf7;
}

/*! OUR-COMMIt */
#our-commit {
  margin-bottom: 200px;
  padding: 0 60px;
}
#our-commit .our-commit__content h3 {
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  color: #333d4b;
  margin-bottom: 32px;
}
#our-commit .our-commit__content p {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #333d4b;
  mix-blend-mode: normal;
  opacity: 0.8;
}

/*! Uncom-about */
#uncom-about {
  margin-bottom: 160px;
  height: 474px;
  background: #2c343e;
  border-radius: 10px;
}
#uncom-about .uncom-about__content {
  padding: 80px 0 0 30px;
}
#uncom-about .uncom-about__content h2 {
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  color: #fefcf7;
  margin-bottom: 30px;
}
#uncom-about .uncom-about__content p {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #fefcf7;
  mix-blend-mode: normal;
  opacity: 0.8;
}
#uncom-about .uncom-about__img {
  position: relative;
}
#uncom-about .uncom-about__img img {
  position: absolute;
  top: -250px;
}

/*! countries */
#countries {
  margin-bottom: 160px;
}
#countries h2 {
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #83888f;
  margin-bottom: 72px;
}
#countries .countries-list .countries-item img {
  margin-bottom: 45px;
}
#countries .countries-list .countries-item h3 {
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
  color: #333d4b;
  margin-bottom: 24px;
}

/*! FOOTER */
#footer {
  width: auto;
  height: 120px;
  background: #2c343e;
  padding: 50px 0 0 0px;
}
#footer .footer-content .footer-list .footer-item a {
  margin-right: 33px;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.923077px;
  text-transform: uppercase;
  color: #83888f;
}
#footer .footer-content .partner-logo i {
  font-size: 25px;
  margin-right: 20px;
  color: #fff;
}

/*! MEDIA-992px */
@media only screen and (max-width: 992px) {
  .container {
    width: 98%;
  }
  /*! OUR-COMMIT */
  #our-commit {
    text-align: center;
  }
  #our-commit .our-commit__img {
    margin-bottom: 50px;
  }
  /*! Uncom-about */
  #uncom-about {
    width: 100%;
    text-align: center;
    margin-bottom: 160px;
    height: 804px;
    background: #2c343e;
    border-radius: 10px;
  }
  #uncom-about .uncom-about__content {
    padding: 25px 0 0 30px;
  }
  #uncom-about .uncom-about__content h2 {
    margin-bottom: 30px;
  }
  #uncom-about .uncom-about__content p {
    font-weight: 400;
    margin-bottom: 40px;
  }
  #uncom-about .uncom-about__img {
    position: relative;
  }
  #uncom-about .uncom-about__img img {
    position: static;
    text-align: center;
  }
  /*! FOOTER */
  #footer {
    width: 100%;
    height: 120px;
    background: #2c343e;
    padding: 50px 0 0 0px;
  }
  #footer .footer-content .footer-list .footer-item a {
    margin-right: 33px;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.923077px;
    text-transform: uppercase;
    color: #83888f;
  }
  #footer .footer-content .partner-logo i {
    font-size: 20px;
    margin-right: 15px;
    color: #fff;
  }
}
/*! MEDIA-768px */
@media only screen and (max-width: 768px) {
  .container {
    width: 98%;
  }
  #header ul.navbar-list.active {
    width: 30%;
    height: 25vh;
    right: 0;
    top: 50px;
    opacity: 1;
    padding: 50px 0;
    background-color: #2c343e;
  }
  #header ul.navbar-list {
    width: 0;
    height: 0;
    position: absolute;
    right: 50px;
    top: 40px;
    text-align: center;
    display: block;
    opacity: 0;
    transition: 0.5s;
  }
  #header ul.navbar-list li {
    margin-bottom: 15px;
  }
  #header ul.navbar-list li a {
    transition: 0.4s;
    color: #fff;
  }
  #header ul.navbar-list li a:hover {
    color: tomato;
  }
  #header i {
    font-size: 35px;
  }
  #header i.bx {
    display: block;
  }
  /*! FOOTER */
  #footer {
    width: 100%;
    height: 290px;
    background: #2c343e;
    padding: 50px 0px;
  }
  #footer .footer-content .site-logo {
    margin-bottom: 30px;
  }
  #footer .footer-content .footer-list {
    margin-bottom: 30px;
  }
  #footer .footer-content .footer-list .footer-item {
    margin-bottom: 10px;
  }
  #footer .footer-content .partner-logo i {
    margin-right: 30px;
    font-size: 35px;
  }
}
/*! MEDIA-570px */
@media only screen and (max-width: 570px) {
  .container {
    width: 98%;
  }
  #header ul.navbar-list.active {
    width: 30%;
    height: 25vh;
    right: 0;
    top: 50px;
    opacity: 1;
    padding: 50px 0;
    background-color: #2c343e;
  }
  #header ul.navbar-list {
    width: 0;
    height: 0;
    position: absolute;
    right: 50px;
    top: 40px;
    text-align: center;
    display: block;
    opacity: 0;
    transition: 0.5s;
  }
  #header ul.navbar-list li {
    margin-bottom: 15px;
  }
  #header ul.navbar-list li a {
    transition: 0.4s;
    color: #fff;
  }
  #header ul.navbar-list li a:hover {
    color: tomato;
  }
  #header i {
    font-size: 35px;
  }
  #header i.bx {
    display: block;
  }
  /*! SITE-HERO ABOUT */
  #site-about__hero .site-about__content {
    width: 100%;
    height: 450px;
    background-image: url("../imgs/about-img/aboutimg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-radius: 10px;
    padding: 130px 40px;
  }
  #site-about__hero .site-about__content p .display-md-none {
    display: none;
  }
  /*! OUR-COMMIT */
  #our-commit .our-commit__img img {
    width: 400px;
    height: 500px;
  }
  /*! Uncom-about */
  #uncom-about {
    width: 100%;
    height: 850px;
  }
  #uncom-about .uncom-about__img img {
    width: 400px;
    height: 430px;
  }
  #uncom-about .uncom-about__content p .display-md-none {
    display: none;
  }
  /*! FOOTER */
  #footer {
    width: 100%;
    height: 290px;
    background: #2c343e;
    padding: 50px 0px;
  }
  #footer .footer-content .site-logo {
    margin-bottom: 30px;
  }
  #footer .footer-content .footer-list {
    margin-bottom: 30px;
  }
  #footer .footer-content .footer-list .footer-item {
    margin-bottom: 10px;
  }
  #footer .footer-content .partner-logo i {
    margin-right: 30px;
    font-size: 35px;
  }
}
/*! MEDIA-413px */
@media only screen and (max-width: 413px) {
  .container {
    width: 98%;
  }
  #header ul.navbar-list.active {
    width: 45%;
    height: 25vh;
    right: 0;
    top: 50px;
    opacity: 1;
    padding: 50px 0;
    background-color: #2c343e;
  }
  #header ul.navbar-list {
    width: 0;
    height: 0;
    position: absolute;
    right: 50px;
    top: 40px;
    text-align: center;
    display: block;
    opacity: 0;
    transition: 0.5s;
  }
  #header ul.navbar-list li {
    margin-bottom: 15px;
  }
  #header ul.navbar-list li a {
    transition: 0.4s;
    color: #fff;
  }
  #header ul.navbar-list li a:hover {
    color: tomato;
  }
  #header i {
    font-size: 35px;
  }
  #header i.bx {
    display: block;
  }
  /*! SITE-HERO ABOUT */
  #site-about__hero .site-about__content {
    width: 100%;
    height: 450px;
    background-image: url("../imgs/about-img/aboutimg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-radius: 10px;
    padding: 130px 40px;
  }
  /*! OUR-COMMIT */
  #our-commit .our-commit__img img {
    width: 350px;
    height: 400px;
  }
  /*! Uncom-about */
  #uncom-about {
    width: 100%;
    height: 820px;
  }
  #uncom-about .uncom-about__img img {
    width: 350px;
    height: 400px;
  }
  /*! FOOTER */
  #footer {
    width: 100%;
    height: 290px;
    background: #2c343e;
    padding: 50px 0px;
  }
  #footer .footer-content .site-logo {
    margin-bottom: 30px;
  }
  #footer .footer-content .footer-list {
    margin-bottom: 30px;
  }
  #footer .footer-content .footer-list .footer-item {
    margin-bottom: 10px;
  }
  #footer .footer-content .partner-logo i {
    margin-right: 30px;
    font-size: 35px;
  }
}/*# sourceMappingURL=about.css.map */