h1,
h2,
h3,
h4 {
  font-family: "Fraunces", serif;
}

p {
  font-family: "Barlow", sans-serif;
  font-weight: 400;
}

body {
  perspective: 1000px;
  font-family: "Fraunces", serif;
  background-color: #fff;
  overflow-x: hidden;
}

/*! Header */
#header ul {
  display: flex;
}
#header ul li a {
  margin-left: 25px;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.923077px;
  text-transform: uppercase;
  color: #83888f;
}

#header {
  padding: 20px 1px;
}
#header ul li a.active {
  color: tomato;
  border-bottom: 1.5px solid tomato;
}

/*! SITE-HERO */
#site-hero {
  margin-bottom: 200px;
}

#site-hero .site-hero__content {
  height: 605px;
  background-image: url("../imgs/homecofe.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center center;
  padding: 110px 0 0 50px;
}
#site-hero .site-hero__content button.button-btn {
  padding: 15px 30px;
  background: #0e8784;
  border-radius: 6px;
  border: none;
  color: #fff;
}
#site-hero .site-hero__content h1 {
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  color: #fefcf7;
  margin-bottom: 32px;
}
#site-hero .site-hero__content p {
  width: 400px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #fefcf7;
  mix-blend-mode: normal;
  opacity: 0.8;
  margin-bottom: 56px;
}

/*! COFE-COLLECTION */
#collection {
  background-image: url("../imgs/collection.svg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
}
#collection .collection-content img {
  margin: 140px 0 60px 0;
}
#collection .collection-content h3 {
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #333d4b;
  margin-bottom: 25px;
}
#collection .collection-content p {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #333d4b;
}

/*!  CHOOSE */
#choose {
  margin: 0 auto;
  margin-top: 170px;
}
#choose .choose-content {
  width: 100%;
  height: 580px;
  padding-top: 100px;
  background: #2c343e;
  border-radius: 10px;
}
#choose .choose-content h2 {
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  color: #fefcf7;
  margin-bottom: 32px;
}
#choose .choose-content p {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #fefcf7;
  mix-blend-mode: normal;
  opacity: 0.8;
}

#choose .row .choose-img img {
  margin-top: 80px;
}

/*! / CHOOSE  */
/*! HOW-WORK */
#how-work {
  margin-top: 180px;
  padding: 150px 0 50px 0;
}
#how-work .work-line {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 75%;
  margin-top: 80px;
  margin-bottom: 70px;
}
#how-work .work-line .squre-line {
  width: 30px;
  height: 30px;
  background: #fff;
  border: 1px solid #0e8784;
  border-radius: 50%;
  z-index: 15;
}
#how-work .work-line .squre-line-x {
  position: absolute;
  width: 100%;
  height: 1px;
  background: #fdd6ba;
  top: 15px;
  z-index: -1;
}
#how-work h4 {
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #83888f;
}

/*! HOW-WORK */
#how-work {
  margin-bottom: 200px;
}
#how-work .container button {
  padding: 10px 30px;
  background: #0e8784;
  border-radius: 6px;
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  border: none;
  color: #fefcf7;
}
#how-work .row .how-work-content h1 {
  font-size: 72px;
  line-height: 72px;
  color: #fdd6ba;
  margin-bottom: 35px;
}
#how-work .row .how-work-content h3 {
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
  color: #333d4b;
  margin-bottom: 42px;
}
#how-work .row .how-work-content p {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #333d4b;
  margin-bottom: 65px;
}

/*! FOOTER */
#footer {
  width: auto;
  height: 120px;
  background: #2c343e;
  padding: 50px 0 0 0px;
}
#footer .footer-content .footer-list .footer-item a {
  margin-right: 33px;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.923077px;
  text-transform: uppercase;
  color: #83888f;
}
#footer .footer-content .partner-logo i {
  font-size: 25px;
  margin-right: 20px;
  color: #fff;
}

@media only screen and (max-width: 992px) {
  .container {
    width: 98%;
  }
  /*! header */
  #header {
    padding: 20px 10px;
  }
  /*! Site-hero */
  #site-hero .site-hero__content {
    height: 580px;
    background-image: url("../imgs/homecofe.png");
    background-repeat: no-repeat;
    background-size: 100% 90%;
    background-position: center center;
    padding: 110px 0 0 20px;
  }
  /*! COFE-COLLECTION */
  #collection .collection-content img {
    margin: 110px 0 30px 0;
  }
  /*! CHOOSE */
  #choose .row .choose-img img {
    margin-top: 70px;
  }
  /*! FOOTER */
  #footer {
    width: auto;
    height: 120px;
    background: #2c343e;
    padding: 50px 0 0 0px;
  }
  #footer .footer-content .footer-list .footer-item a {
    margin-right: 20px;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.923077px;
    text-transform: uppercase;
    color: #83888f;
  }
  #footer .footer-content .partner-logo i {
    font-size: 25px;
    margin-right: 5px;
    color: #fff;
  }
}
@media only screen and (max-width: 768px) {
  .container {
    width: 98%;
  }
  #header ul.navbar-list.active {
    width: 28%;
    height: 20vh;
    right: 0;
    top: 45px;
    opacity: 1;
    padding: 50px 0;
    background-color: #2c343e;
    color: #fff;
  }
  #header {
    padding: 20px 25px 0 10px;
  }
  #header ul.navbar-list {
    width: 0;
    height: 0;
    position: absolute;
    right: 50px;
    top: 40px;
    text-align: center;
    display: block;
    opacity: 0;
    transition: 0.5s;
  }
  #header ul.navbar-list li {
    margin-bottom: 15px;
  }
  #header ul.navbar-list li a {
    transition: 0.4s;
  }
  #header ul.navbar-list li a:hover {
    color: tomato;
  }
  #header i {
    font-size: 35px;
  }
  #header i.bx {
    display: block;
  }
  /*! Site-hero */
  #site-hero .site-hero__content {
    height: 550px;
    background-image: url("../imgs/homecofe.png");
    background-repeat: no-repeat;
    background-size: 100% 85%;
    background-position: center center;
    padding: 120px 0 0 20px;
  }
  #site-hero .site-hero__content h1 {
    font-size: 45px;
    line-height: 55px;
    margin-bottom: 15px;
  }
  #site-hero .site-hero__content p {
    width: 300px;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 28px;
  }
  /*! COFE-COLLECTION */
  #collection .collection-content img {
    margin: 90px 0 0px 0;
  }
  /*! CHOOSE */
  #choose .row .choose-img img {
    margin-bottom: 0px;
  }
  #choose .choose-content p .display-md-none {
    display: none;
  }
  /*! FOOTER */
  #footer {
    width: 100%;
    height: 290px;
    background: #2c343e;
    padding: 50px 0px;
  }
  #footer .footer-content .site-logo {
    margin-bottom: 30px;
  }
  #footer .footer-content .footer-list {
    margin-bottom: 30px;
  }
  #footer .footer-content .footer-list .footer-item {
    margin-bottom: 10px;
  }
  #footer .footer-content .partner-logo i {
    margin-right: 30px;
    font-size: 35px;
  }
}
@media only screen and (max-width: 650px) {
  .container {
    width: 98%;
  }
  #header ul.navbar-list.active {
    width: 28%;
    height: 20vh;
    right: 0;
    top: 45px;
    opacity: 1;
    padding: 50px 0;
    background-color: #2c343e;
    color: #fff;
  }
  #header {
    padding: 20px 25px 20px 10px;
  }
  #header ul.navbar-list {
    width: 0;
    height: 0;
    position: absolute;
    right: 50px;
    top: 40px;
    text-align: center;
    display: block;
    opacity: 0;
    transition: 0.5s;
  }
  #header ul.navbar-list li {
    margin-bottom: 15px;
  }
  #header ul.navbar-list li a {
    transition: 0.4s;
  }
  #header ul.navbar-list li a:hover {
    color: tomato;
  }
  #header i {
    font-size: 35px;
  }
  #header i.bx {
    display: block;
  }
  /*! Site-hero */
  #site-hero .site-hero__content {
    height: 450px;
    background-image: url("../imgs/homecofe.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 65px 0 0 20px;
    border-radius: 10px;
  }
  #site-hero .site-hero__content h1 {
    font-size: 30px;
    line-height: 55px;
    margin-bottom: 15px;
  }
  #site-hero .site-hero__content p {
    width: 280px;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 28px;
  }
  /*! COFE-COLLECTION */
  #collection .collection-content img {
    margin: 70px 0 0px 0;
  }
  /*! CHOOSE */
  #choose .row .choose-img img {
    margin-bottom: 0px;
  }
  #choose .choose-content p .display-md-none {
    display: none;
  }
  /*! FOOTER */
  #footer {
    width: 100%;
    height: 290px;
    background: #2c343e;
    padding: 50px 0px;
  }
  #footer .footer-content .site-logo {
    margin-bottom: 30px;
  }
  #footer .footer-content .footer-list {
    margin-bottom: 30px;
  }
  #footer .footer-content .footer-list .footer-item {
    margin-bottom: 10px;
  }
  #footer .footer-content .partner-logo i {
    margin-right: 30px;
    font-size: 35px;
  }
}
@media only screen and (max-width: 576px) {
  .container {
    width: 98%;
  }
  #header ul.navbar-list.active {
    width: 32%;
    height: 20vh;
    right: 0;
    top: 50px;
    opacity: 1;
    padding: 50px 0;
    background-color: #2c343e;
    color: #fff;
  }
  #header {
    padding: 20px 25px 20px 10px;
  }
  #header ul.navbar-list {
    width: 0;
    height: 0;
    position: absolute;
    right: 50px;
    top: 50px;
    display: block;
    opacity: 0;
    transition: 0.5s;
  }
  #header ul.navbar-list li {
    margin-bottom: 15px;
  }
  #header ul.navbar-list li a {
    transition: 0.4s;
  }
  #header ul.navbar-list li a:hover {
    color: tomato;
  }
  #header i {
    font-size: 35px;
  }
  #header i.bx {
    display: block;
  }
  /*! Site-hero */
  #site-hero .site-hero__content {
    height: 450px;
    background-image: url("../imgs/homecofe.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 65px 0 0 20px;
    border-radius: 10px;
  }
  #site-hero .site-hero__content h1 {
    font-size: 30px;
    line-height: 55px;
    margin-bottom: 15px;
  }
  #site-hero .site-hero__content p {
    width: 280px;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 28px;
  }
  /*! COFE-COLLECTION */
  #collection .collection-content img {
    margin: 70px 0 0px 0;
  }
  /*! CHOOSE */
  #choose .row .choose-img img {
    margin-bottom: 50px;
  }
  #choose .choose-content {
    width: 100%;
    height: 450px;
  }
  #choose .choose-content p .display-md-none {
    display: none;
  }
  #how-work {
    margin-bottom: 50px;
    text-align: center;
  }
  #how-work h4 {
    margin-bottom: 25px;
  }
  #how-work .work-line {
    margin: 0 auto;
    margin-bottom: 40px;
  }
  /*! FOOTER */
  #footer {
    width: 100%;
    height: 290px;
    background: #2c343e;
    padding: 50px 0px;
  }
  #footer .footer-content .site-logo {
    margin-bottom: 30px;
  }
  #footer .footer-content .footer-list {
    display: block;
    margin-bottom: 30px;
  }
  #footer .footer-content .footer-list .footer-item {
    margin-bottom: 10px;
  }
  #footer .footer-content .partner-logo i {
    margin-right: 30px;
    font-size: 35px;
  }
}
@media only screen and (max-width: 450px) {
  .container {
    width: 98%;
  }
  #header ul.navbar-list.active {
    width: 45%;
    height: 20vh;
    right: 0;
    top: 50px;
    opacity: 1;
    padding: 50px 0;
    background-color: #2c343e;
  }
  #header {
    padding: 20px 25px 20px 10px;
  }
  #header ul.navbar-list {
    width: 0;
    height: 0;
    position: absolute;
    right: 50px;
    top: 50px;
    display: block;
    opacity: 0;
    transition: 0.5s;
  }
  #header ul.navbar-list li {
    margin-bottom: 15px;
  }
  #header ul.navbar-list li a {
    color: #fff;
    transition: 0.4s;
  }
  #header ul.navbar-list li a:hover {
    color: tomato;
  }
  #header i {
    font-size: 35px;
  }
  #header i.bx {
    display: block;
  }
  /*! Site-hero */
  #site-hero .site-hero__content {
    height: 450px;
    background-image: url("../imgs/homecofe.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 65px 0 0 20px;
    border-radius: 10px;
  }
  #site-hero .site-hero__content h1 {
    font-size: 30px;
    line-height: 55px;
    margin-bottom: 15px;
  }
  #site-hero .site-hero__content p {
    width: 280px;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 28px;
  }
  /*! COFE-COLLECTION */
  #collection .collection-content img {
    margin: 70px 0 0px 0;
  }
  /*! CHOOSE */
  #choose .row .choose-img img {
    margin-bottom: 50px;
  }
  #choose .choose-content {
    width: 100%;
    height: 450px;
  }
  #choose .choose-content p .display-md-none {
    display: none;
  }
  #how-work {
    text-align: center;
  }
  #how-work h4 {
    margin-bottom: 25px;
  }
  #how-work .work-line {
    margin: 0 auto;
    margin-bottom: 40px;
  }
  /*! FOOTER */
  #footer {
    width: 100%;
    height: 290px;
    background: #2c343e;
    padding: 50px 0px;
  }
  #footer .footer-content .site-logo {
    margin-bottom: 30px;
  }
  #footer .footer-content .footer-list {
    display: block;
    margin-bottom: 30px;
  }
  #footer .footer-content .footer-list .footer-item {
    margin-bottom: 10px;
  }
  #footer .footer-content .partner-logo i {
    margin-right: 30px;
    font-size: 35px;
  }
}/*# sourceMappingURL=style.css.map */